<script src="https://unpkg.com/vue@3"></script>

<div id="app">{{ message }}
Username<input type="text">
Password<input type="password" name="password">
<button type="button" onclick="sayHello">Log Masuk</button>
<button @click="sayHello">Greet</button>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    },
    method: {
      sayHello(event){
        alert('Hello Vue!');
        if (event) {
          alert(event.target.tagName)
        }
      }
    }
  }).mount('#app')
</script>